/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .title {
  background-color: #F8F8F8;
  color: rgb(118, 118, 118);
  border: 1px solid #E7E7E7;
  margin-bottom: 1rem;
 }

 #left-title a {
  font-size: 1.2rem;
  color: inherit;
  margin-bottom: 0;
 }

 #left-title a:hover, #right-title a:hover {
  color: rgb(80,80,80);
 }

 #right-title a {
  font-size: 0.88rem;
  color: inherit;
  margin-bottom: 0;
 }

 p#left-title, p#right-title {
  margin-bottom: 0;
 }

 a {
  text-decoration: none;
}

.page-container {
  margin: 1rem 2rem;
}

#faded {
  color:rgb(209, 209, 209);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
